Bibliography/*.pdf
Papers/*
!Papers/report_rethinking_OR.pdf

Logs/*
Code/*

CodeMC/Python/*.ipynb
CodeMC/Python/test_script*
CodeMC/Python/*.save
CodeMC/Python/*_tables*/
CodeMC/Python/.ipynb_checkpoints
CodeMC/Python/__pycache__
CodeMC/Python/Models

CodeMC/Python/acc_script.py
CodeMC/Python/network_capacity_test.py

CodeMC/Python/TestTrashDir/*
